.font {
  font-family: "Soleil" !important;
}

.fontR {
  font-family: regulator-nova !important;
}

.dashed-line {
  height: 1px;
  background-image: url("https://uploads-ssl.webflow.com/61c1b5d6cb8a0046c7fa6e82/61c48e6d451a6a991b4bac94_dash.svg");
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: repeat-y;
  color: #ccc;
}
